@use 'reset';
@use 'card';
@use 'navbar';
@use 'utilities';

#root {
    background: rgb(19, 17, 17);
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}
@media (prefers-color-scheme: light){
    #root {
        background: #ccc;
    }
}

